@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css);

body {
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, Helvetica, sans-serif;
}

nav {
    width: 200px;
    border: 1px solid #e3e3e3;
    font-size: 14px;
    line-height: 20px;
    background-color: #f5f5f5;
}

li {
    list-style: none;
    line-height: 25px;
    margin-left: -15p;
}

a {
    text-decoration: none;
    color: #c83025;
}

i {
    width: 1.14em;
    padding-right: 0.28em;
}

button {
    padding: 4px 12px;
    line-height: 20px;
    color: #ffffff;
    border-color: rgba(0, 0, 0, 0.1, 0, 0, 0, 0.1, 0, 0, 0, 0.25, alpha);
    cursor: pointer;
}

button.shopping {
    background-color: #83a94c;
}

button.info {
    background-color: #008ed0;
}

button.delete {
    background-color: #cc4036;
}

/* body, table {
    font: inherit;
}

body {
    padding: 4em;
}

a {
    text-decoration: none;
}

nav {
    background-color: #eee;
    border: 1px solid #ccc;
    padding: 2em;
}

nav li {
    display: block;
    list-style: none outside;
}

nav a {
    color: #369;
}

nav a [class*="fa-"] {
    color: #000;
} */